{% extends "base.html" %}

{% block title %}
    <title>Instacopy</title>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">

            {% for post in posts %}
                {% include 'partial/post_card.html' %}
                {% empty %}
                <div class="col-sm-12 col-md-8 offset-md-2 mb-5 mt-5 p-0 post-container">
                        <div class="media pt-3 pl-3 pb-1">
                            <div class="media-body">
                                <p style="margin-top: 5px;">Публикации отсутствуют</p>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}