{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>@{{ user_obj.username }}</title>
{% endblock %}

{% block container %}

    <div class="container mb-5" style="margin-top: 8em;">
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center">
                    <img src="{{ user_obj.avatar.url }}" alt="@{{ user_obj.username }}" class="rounded-circle" width="160px"
                         height="160px"/>
            </div>
            <div class="col-sm-8">
                <h2 style="font-weight: 100;">
                    {{ user_obj.username }}
                    {% if user_obj == request.user %}
                        <a
                                href="{% url 'edit_profile' user_obj.pk %}"
                                class="ml-5 btn btn-outline-secondary"
                        >
                            Edit profile
                        </a>
                    {% elif request.user not in user_obj.subscriptions.all %}


                        <a href="{% url 'subscribe' user_obj.pk %}"
                           type="submit"
                           class="ml-5 btn btn-outline-secondary"
                        >
                            Подписаться
                        </a>
                    {% else %}
                            <a href="{% url 'subscribe' user_obj.pk %}"
                                    type="submit"
                                    class="ml-5 btn btn-outline-secondary"
                            >
                                Отменить подписку
                            </a>
                    {% endif %}
                </h2>
                <div class="row mt-2" style="font-size: 1.2em">
                    <div class="col-sm-4">
                        <b>{{ posts.count }}</b> Публикации
                    </div>

                    <div class="col-sm-4">
                        <a href="{% url 'subscribers' user_obj.pk %}" class="text-decoration-none" style="color: black"><b>{{ user_obj.subscriptions.count }}</b> Подписчики</a>
                    </div>

                    <div class="col-sm-4">
                        <a href="{% url 'follows' user_obj.pk %}" class="text-decoration-none" style="color: black"><b>{{ user_obj.subscribers.count}}</b> Подписки</a>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <p>{{ user_obj.biography }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container" id="user-posts">
        <div class="row mt-3">
            {% for post in posts %}
                <div class="col-sm-4 pt-5 pb-5 pr-5 pl-5 d-flex justify-content-center align-items-center">
                    <a href="{% url 'post' post.id %}" class="border">
                        <img src="{{ post.image.url }}" alt="{{ post.description }}" height="272" width="272"
                             class="img-fluid"/>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}